*{
    padding: 0;
    margin: 0;
}
.back{
    background-color: #055208;
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
}
/*the back lesser than sign to go back */
.back-arrow a{
    text-decoration: none;
    font-weight: bolder;
    font-size: 60px;
    color: black;
}
.container{
    width: 400px;
    justify-content: center;
    align-items: center;
    margin: auto;
    }
    /* details */
    .info{
        margin-top: 30px;
    }
    .info h4{
        padding-bottom: 13px;
    }

    /* footer area */
footer{
    position: absolute;
    display: flex;
    flex-direction: row;
    border: rgb(244, 239, 233) solid 4px;
    border-radius:15px;
    align-items: center;
    justify-content: center;
}
.footer{
    width: 20%;
    height: 50px;
    padding-top: 20px;
}
.footer a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}